.cart-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 5px;
}

.cart-name-section {
    display: flex;
    flex-direction: column;
    margin: 5px 15px;
}

.cart-image img {
    width: 50%;
    max-width: 350px;
}

.cart-number {
    width: 50px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}
.cart-number-section {
    margin: 5px 15px;
}

.remove-btn {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
}

.cart-price {
    margin: 5px 15px;
}