@import url("~normalize.css");

.App {
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;

    background-color: #222;
    height: 70px;
    padding: 10px;
    color: white;
}

.title:hover {
    cursor: pointer;
}
.title {
    font-size: 1.5em;
    color: #898989;
}
.title.selected {
    text-decoration: underline;
}
.title.selected h2 {
    text-decoration: underline;
}

.title span {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    background-color: red;
}

.home {
    font-size: 1.5em;
}

