.product {
    padding: 5px;
    margin: 15px 45px;
    border-radius: 8px;

    border: solid 2px #e2dce2;
}
.name {

}
.image {
    padding: 2px;
    margin: 2px;
    border-radius: 8px;
    width: 400px;
    min-width: 400px;

    border: solid 2px #e2dce2;
}
.button {
    background-color: #fd7049;
    width: 38px;
    height: 38px;
    padding: 2px;
    margin: 2px;
    color: #ffffff;
    font-size: 2em;
    border-radius: 140px;
    float: right;
    border: none;
    cursor: pointer;
}